/*
 * Style tweaks - index.html
 * ----------------------------------------------------------------------------
 */
form {
    text-align: center;
}

#registration {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}