<div class="container">
	<ul class="nav nav-pills nav-justified">
		<li><a href="#/userprofile">User Profile</a></li>
		<li class="active"><a href="#/courseenroll">Courses Enrolled</a></li>
		<li><a href="#/settings">Settings</a></li>
	</ul><br/>
	<table class="table">
		<tr>
			<td>CSCA08H3 Fall 2016</td>
			<td>
				<button type="button" class="btn btn-success">Join Chatroom</button>
				<button type="button" class="btn btn-success">Forums</button>
				<button type="button" class="btn btn-info">Contact Instructor</button>
				<button type="button" class="btn btn-danger">Leave Course</button>
			</td>
		</tr>
		<tr>
			<td>CSCA48H3 Winter 2017</td>
			<td>
				<button type="button" class="btn btn-success">Join Chatroom</button>
				<button type="button" class="btn btn-success">Forums</button>
				<button type="button" class="btn btn-info">Contact Instructor</button>
				<button type="button" class="btn btn-danger">Leave Course</button>
			</td>
		</tr>
	</table>
</div>