<div class="container" ng-app="CtrlUserProfile">
	<div class="row">
		<h2>User Profile</h2>
		<div class="col-md-2">
			<img src="img/defaultAvatar.png" class="img-thumbnail" width="325" height="257"><br/>
			<button type="button" class="btn btn-default">Change profile picture</button>
		</div>
		<div class="col-md-10">
			<div class="col-md-5" ng-controller="displayUserInfoCtrl">
				<b>Name</b>: {{name}}<br/>
				<b>Email</b>:<br/>
				<b>Password</b>:<br/>
				<b>Description</b>:<br/>
				<textarea class="form-control" rows="5" id="description"></textarea>
			</div>
			<div class="col-md-5">
				<b>Course(s) currently enrolled</b><br/>
				<table class="table	">
					<tr>
						<td>CSCA08H3 - Fall 2016</td>
						<td><button type="button" class="btn btn-danger">Leave Course</button></td>
					</tr>
					<tr>
						<td>CSCA48H3 - Winter 2017</td>
						<td><button type="button" class="btn btn-danger">Leave Course</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>